{% extends 'operatorr/base.html' %}
{% block content %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Add Bus</h4>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-right upgrade-btn">
                            <a href="logout" class="btn btn-danger text-white" >Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">


           <form action="addbus" method="post">
               {% csrf_token %}
                <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="bus_no">Bus Number</label>
                  <input type="text" name="bus_no" id="bus_no" class="form-control" placeholder="eg. 01,100">
                </div>
              </div>

              <div class="row form-group ">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="bustype">Bus Type </label>
                    <select class="custom-select" id="bustype" name="bustype">
  <option selected>Select Bus Type</option>
  <option value="1">AC Sleeper</option>
  <option value="2">AC Seater</option>
  <option value="3">AC Sleeper+Seater</option>
  <option value="4">Non AC</option>
</select>

                </div>
              </div>


              <div class="row form-group ">
               <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="days">Running Days</label>
                <div class="col-md-12 mb-3 mb-md-0" id="days">
                  <label for="day1">
                    <input type="checkbox" value="Monday"  id="day1" name="day[]"> Monday
                  </label>
                </div>
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="day2">
                    <input type="checkbox" id="day2" value="Tuesday" name="day[]"> Tuesday
                  </label>
                </div>

                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="day3">
                    <input type="checkbox" id="day3" value="Wednesday" name="day[]"> Wednesday
                </div>
                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="day4">
                    <input type="checkbox" id="day4" value="Thursday" name="day[]"> Thursday
                  </label>
                </div>

                <div class="col-md-12 mb-3 mb-md-0">
                  <label for="day5">
                    <input type="checkbox" id="day5" value="Friday" name="day[]"> Friday
                  </label>
                </div>
                   <div class="col-md-12 mb-3 mb-md-0">
                  <label for="day6">
                    <input type="checkbox" id="day6" value="Saturday" name="day[]"> Saturday
                  </label>
                </div>
                   <div class="col-md-12 mb-3 mb-md-0">
                  <label for="day7">
                    <input type="checkbox" id="day7" value="Sunday" name="day[]"> Sunday
                  </label>
                </div>


              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="source">Source</label>
                  <input type="text" name="source" id="source" class="form-control" placeholder="eg.Madhya Pradesh">
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="destination">Destination</label>
                  <input type="text" name="destination" id="destination" class="form-control" placeholder="eg.Rajasthan">
                </div>
              </div>

              <div class="row form-group mb-5">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="no_of_seats">Number Of Seats</label>
                  <input type="text" name="no_of_seats" id="no_of_seats" class="form-control" placeholder="eg.34">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" name="btn-submit" id="addbus" value="Post" class="btn btn-primary  py-2 px-5">
                </div>
              </div>


            </form>
          </div>



        </div>

    </div>


  {% endblock %}

