{% extends 'adminpanel/base.html' %}
{% block content %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="admin_index">Home</a></li>

                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-right upgrade-btn">
                            <a href="logout" class="btn btn-danger text-white" >Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">


                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">New Requests</h4>
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">

                                <table class="table v-middle">

                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Id</th>
                                            <th class="border-top-0">AgencyName</th>
                                            <th class="border-top-0">AgencyEmail</th>
                                            <th class="border-top-0">ContactNo.</th>
                                            <th class="border-top-0">Description</th>
                                            <th class="border-top-0">Operation</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for request in request_list %}
                                        <tr>

                                            <td>
                                                <div class="d-flex align-items-center">

                                                   <!-- <div class="m-r-10"><a class="btn btn-circle btn-info text-white">EA</a></div>-->
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">{{request.request_id}}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{request.agency_name}}</td>
                                            <td>{{request.agency_email}}</td>
                                            <td>{{request.contact_no}}</td>
                                            <td>{{request.message}}</td>

                                            <td><a class="btn btn-danger" href="rejectreq?r={{request.request_id}}" role="button">Reject</a>||<a class="btn btn-success" href="acceptreq?r={{request.request_id}}" role="button">Accept</a></td></td>



                                        </tr>


                                    {% endfor %}
                                    </tbody>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            <footer class="footer text-center">
                All Rights Reserved by Shivanand Gautam. Designed and Developed by <a href="https://www.linkedin.com/in/aayush-soni-788b26151/">Aayush Soni</a>.
            </footer>

        </div>

    </div>
{% endblock %}